doctype html
head
  title= title
  link(rel='stylesheet', href='/stylesheets/style.css')

body

h1#roomTitle
div#schedule 
div#banner
  div#first Date & time here !{today}
  div#second Next Event here

script.
  var i = 0;
  
  // Set the variables from client side to server side to manipulate.
  
  let room120 = !{JSON.stringify(rm120)};
  let room148 = !{JSON.stringify(rm148)};
  let room108 = !{JSON.stringify(rm108)};
  let room113 = !{JSON.stringify(rm113)};
  
  var today = new Date();
  today = today.getDate();
  
  // Contrary to its name it only sets 5 events...
  
  function setTen(rmNum){
    
    schedule.innerHTML = '';
    var j = 0;
    var k = 0;
    
    // Get date/time of today.
    
    var date = new Date();
    var curr = [date.getFullYear(), date.getMonth(), date.getDate(), date.getHours()];
    
    
    // Magic loop that sends the 3 most relevant events to the div container.
    
    for(j; j < 1; j++){
      
      // k - Counter to ensure 5 events are pushed out.
      
      k = 0;
      
      var temp = rmNum[j].description.split('<br>');
      
      // arr - Get the date/time of the event.
      // the object style will be like so [year, month, date, time]
      
      var arr = convertDate(temp[1]);
      
      if(arr[0] >= curr[0] && arr[1] >= curr[1]+1 && arr[2] >= curr[2] && arr[3] >= curr[3]){
      
        //If the event has not passed yet, add it to the div container!
        
        schedule.innerHTML += rmNum[j].description;
        //schedule.innerHTML += "*space*";
      }
      
      else {
      
        //Else keep going til you find an event that has not passed yet. 
        
        while(arr[0] < curr[0] || arr[1] < curr[1] || arr[2] < curr[2] || arr[3] < curr[3]) {
          
          k++;
          
        }
        
        //Print it out once you find it yo. 
        
        schedule.innerHTML += rmNum[j+k].description;

      }
      
    }
    
  }
  
  
  // Use this to get the room number of the rss feed that is displayed.
  
  
  
  function getRoom(rm) {
    
    //Expecting [object][object] variable
    
    
    var cycle = rm[0].description.split('<br>');
    cycle = cycle[0];
    cycle = cycle.split(',');
    cycle = cycle[0];
    
    //Split it at the <br> Change it to something like --> 'Student Center - Conference Room 120' then return it.
    
    return cycle;
    
    
  }
  
  
  
  // Use this to convert the time/date to a more comparable form.
  
  function convertDate(d) {
    
    //Expecting data to look like this ---> Thursday, December 21, 2017, 5 – 11pm 
    
    //Split at the , and grab the month/day/year/time
    
    var parse = d.split(',');
    var year = parse[2];
    
    // Parse the month/day variable to get one month var and one date var.
    
    var month = parse[1].split(' ');
    
    let day = month[2];
    
    month = month[1];
    
    month = changeMonth(month);
    
    //Parse the time to get a numerical value to compare to.
    
    parse = parse[3].split('–');
    
    //meridian is either am or pm.
    
    let meridian = parse[1][parse[1].length - 3] + parse[1][parse[1].length - 2];
    
    var time;
    
    //add 12 if pm because a 24 hour clock is easier to compare to.
    
    if(meridian == 'pm'){
      time = parse[1].split('p');
      
      time = time[0];
      
      time = +time + +12;
    }  
    
    // Return the data of the event in an array format.
    
    return [year, month, day, time];
    
  }
  
  
  // This function switches the month into a numerical value.
  
  function changeMonth(month) {
    
    switch(month) {
      
      case "January":
        return 1;
        
      case "February":
        return 2;
        
      case "March":
        return 3;
        
      case "April":
        return 4;
        
      case "May":
        return 5;
        
      case "June":
        return 6;
        
      case "July":
        return 7;
        
      case "August":
        return 8;
        
      case "September":
        return 9;
        
      case "October":
        return 10;
        
      case "November":
        return 11;
        
      case "December":
        return 12;
      
    }
  }

  
  
  // setInterval(function(){
  
  // i++;
  
  // change.innerHTML = i;
    
  // }, 1000);
  
  
  //Set the div container to the rss feed of each room alternating every 10 seconds.
  
  function getRooms(){
    
    setTimeout(function() {
    
      roomTitle.innerHTML = 'Student Center Room 120';
      setTen(room120);
      
    }, 0);
    
    setTimeout(function() {
    
      roomTitle.innerHTML = 'Student Center Room 148';
      setTen(room148);
      
    }, 10000);
    
    
    setTimeout(function() {
      
      roomTitle.innerHTML = 'Student Center Room 113';
      
      
      setTen(room113);
      
    }, 20000);
    
    setTimeout(function() {
      
      roomTitle.innerHTML = 'Student Center Room 108';
      
      setTen(room108);
    }, 30000);
    
  }
  
  getRooms();
  
  setInterval(getRooms, 40000);